<form [formGroup]="userForm" (ngSubmit)="login()">
  <ion-item>
    <ion-input
      [label]="'label.email' | translate"
      type="email"
      name="email"
      formControlName="email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      [label]="'label.password' | translate"
      type="password"
      name="password"
      formControlName="password"
    ></ion-input>
  </ion-item>

  <ion-button type="submit" expand="block">
    {{ "label.login" | translate }}</ion-button
  >
</form>
