ion-card.blog {
  border-left: 3px solid #7c7c7c;
}

ion-card.video {
  border-left: 3px solid #c4302b;
}

ion-card.streaming {
  border-left: 3px solid #6441a5;
}

ion-card.udemy {
  border-left: 3px solid #ea5252;
}
