ion-chip,
ion-chip ion-icon {
  color: #fff;
}

ion-chip.blog {
  background: #7c7c7c;
}

ion-chip.video {
  background: #c4302b;
}

ion-chip.streaming {
  background: #6441a5;
}

ion-chip.udemy {
  background: #ea5252;
}

ion-chip.selected {
  background-color: #2e63ff;
}
